<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0">
    <listener>
        <listener-class>
            com.buseduc.javacourse.petshop.servlets.MyServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>petshop</servlet-name>
        <servlet-class>com.buseduc.javacourse.petshop.servlets.MyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>petshop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>

</web-app>